#shieldBG{
	width:500px;
	height:383px;
	background:url(assets/lol_pcb.jpg);
}
#shield{
	position:absolute;
	left:26px;
	top:74px;
}
.row{
	position:absolute;
}
.led{
	display:block;
	position:absolute;
	border-radius:100px;
	background: -webkit-radial-gradient( 4px 5px, ellipse cover, #900 0%, black 100%);
}
.led.on{
	background: -webkit-radial-gradient( 4px 5px, ellipse cover, #FCC 0%, #F00 100%);
}
