input{
	border: solid 1px red;
}
input,div[contenteditable]{
	font-family:courier;
}
#shieldBG{
	width:500px;
	height:383px;
	background:url(assets/lol_pcb.jpg);
}
#shieldBG.drawing{
	cursor:crosshair;
}
#shield{
	position:absolute;
	left:26px;
	top:74px;
}
.row{
	position:absolute;
}
input.rowcode{
	position:absolute;
	left:485px;
	width:100px;
}
.led{
	display:block;
	position:absolute;
	border-radius:100px;
	background: #900;
	background: -webkit-radial-gradient( 4px 5px, ellipse cover, #900 0%, black 100%);
	background: -moz-radial-gradient( 4px 5px, ellipse cover, #900 0%, black 100%);
	background: -o-radial-gradient( 4px 5px, ellipse cover, #900 0%, black 100%);
	background: radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%); /* W3C */
}
.led.on{
	background: -webkit-radial-gradient( 4px 5px, ellipse cover, #FCC 0%, #F00 100%);
	background: -moz-radial-gradient( 4px 5px, ellipse cover, #FCC 0%, #F00 100%);
	background: -o-radial-gradient( 4px 5px, ellipse cover, #FCC 0%, #F00 100%);
	background: -radial-gradient( 4px 5px, ellipse cover, #FCC 0%, #F00 100%);
}

/*controls*/
	#controls{
		position:absolute;
		left:507px;
		top:350px;
	}
	#controls button{
		width:100px;
		display:block;
		margin-left:5px;
	}
	#savedSketches{
		width:400px;
		position: absolute;
		top: 420px;
		left: 10px;
		font-family:courier;
	}
	a.savedSketch{
		display:block;
		color:blue;
		cursor:pointer;
	}
/*end controls*/

/* misc */
	#matrixCode{
		position:absolute;
		left:10px;
		top:394px;
		width:400px;
	}
	div#sequence{
		position:absolute;
		left:625px;
		top:10px;
		width:500px;
		min-height:90%;
		font-size:.9em;
		border:solid 1px red;
	}
/* end misc */


/* high contrast */
	.highContrast #shieldBG{
		background:black;
		border: solid 1px green;
	}
	.highContrast .led{
		background: black;
		border: solid 1px red;
	}
	.highContrast .led.on{
		background:red;
	}
/*end high contrast*/
